.ContactFormLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46%;
  min-width: 358px;
  height: 600px;
}
.ContactFormLight h4 {
  color: #468faf;
  font-size: 3rem;
  margin: 2rem 0;
}
.ContactFormLight button {
  width: 90%;
  border: 2px solid #a9d6e5;
  border-radius: 6px;
  background-color: #f8f8ff;
  color: #a9d6e5;
  outline: none;
  transition: 0.7s;
}
.ContactFormLight button:hover {
  border: 2px solid pink;
  color: pink;
}
.ContactFormLight button:focus {
  animation: wiggle 1s ease;
}

.InputDivLight {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.InputDivLight label {
  margin-left: 10px;
  margin-bottom: 10px;
}
.InputDivLight textarea {
  overflow: hidden;
  height: 200px;
}

.InputDivLight input,
.InputDivLight textarea {
  outline: none;
  border: 2px solid #a9d6e5;
  border-radius: 6px;
  background-color: #f8f8ff;
  color: #a9d6e5;
  padding: 12px 7px;
  transition: 0.5s;
  margin-bottom: 20px;
}
.InputDivLight input:focus,
.InputDivLight textarea:focus {
  border: 2px solid pink;
  color: rgb(220, 125, 141);
}
